# LaTeX temp files
*.aux
*.bbl
*.blg
*.log
/report/*.pdf
*.synctex.gz
*.out
*.dvi

# Java output files
*.class

# Eclipse overhead files
.metadata
code/.classpath
.project

# Gurobi output files
*.sol
*.ilp
*.mst
*.bas
*.prm